<!DOCTYPE html>
<html lang="en">
<head>
 {{>about}}

    
</head>
<body>
    <div class="nav">
        <div class="home"><a href="/index"> <i class="fa-solid fa-house"> home</i></a></div>
    </div>
    <div class="contioner">

        <div class="about">
            <h1>ABOUT</h1>
            <p>Interface Application that can be used as a platform for networking, seeking or providing job opportunities with utmost Authenticity,
                Made with popular technologies and meticulous planning, is supposed to remove the communication barrier between the upcoming or current students and alumni's of any university, providing them with the luxury of not depending on alumni's meets to connect with each other. It is easy to use, financially affordable and is secured to save you from scammers.                  Be it placement assistance,a job interview preperation,hackathon's,intercollage Cultural or Sports events, you can directly ask your queries to achievers or participants.Better clarity,career guidance and swift in your career with no delays is what this Application Aims.</p>
        </div>
    </div>
     <script src="https://kit.fontawesome.com/9d32b8e8b3.js" crossorigin="anonymous"></script>
</body>
</html>