<!DOCTYPE html>
<html lang="en">

<head>
   {{>help}}
</head>

<body>
 <div class="nav">
        <div class="home"><a href="/index"> <i class="fa-solid fa-house"> home</i></a></div>
    </div>

<div class="contioner">
    <div class="help">
        <h1>Contact_us</h1>
        <form >
            <input type="text" name="Name" placeholder="Your Name" required>
            <input type="email" name="Email" placeholder="Your Email" required>
            <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
          
            <div class="btnn">  <button type="submit" class="btn">Submit</button></div>
          
        </form>

       
    </div>
</div>

     <script src="https://kit.fontawesome.com/9d32b8e8b3.js" crossorigin="anonymous"></script>
    

</body>

</html>