<!DOCTYPE html>
<html lang="en">
<head>
  {{>messages}}
    
</head>
<body>
    <div class="nav">
        <div class="home"><a href="/index"> <i class="fa-solid fa-house"> home</i></a></div>
    </div>
    <div class="contioner">

        <div class="about">
            <h1>MESSAGE FEATURE</h1>
            <h3>COMMING SOON</h3>
           
        </div>
    </div>
     <script src="https://kit.fontawesome.com/9d32b8e8b3.js" crossorigin="anonymous"></script>
</body>
</html>

