<!DOCTYPE html>
<html lang="en">

<head>
        {{>profile}}
        <title>Document</title>
</head>

<body>
        
        <div class="nav">
                <div class="home"><a href="/index"> <i class="fa-solid fa-house"></i></a></div>
                <div class="search">
                        <input class="srch" type="search" name="" placeholder="Type To text">
                        <a href="#" class="btn1">Search</a>
                </div>
        </div>

        <div class="contioner">
                <div class="banner">
                        <div class="bann_img"></div>
                </div>
                <div class="profile"></div>
                <div class="profile_name">
                        <div class="name">
                                <h1>Alumni name</h1>
                        </div>
                </div>


        </div>
        <div class="message">
                <div class="btn"><a href="messages">MESSAGES</a></div>

        </div>
        <div class="section1">
                <div class="about">
                        <h1>About</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores deleniti nam facilis
                                corrupti
                                molestiae
                                facere sit blanditiis explicabo iusto, eaque incidunt voluptas enim ullam adipisci
                                animi, similique
                                expedita
                                soluta.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, debitis vel tempore nostrum
                                animi numquam!
                                Eius
                                ratione inventore explicabo sint dolorem nostrum consectetur error ad vero, aspernatur
                                earum delectus
                                aliquid voluptas ullam quis numquam ducimus? Temporibus, laborum. Tenetur sit non
                                repellendus animi
                                recusandae. Voluptates cupiditate inventore, quo explicabo dolores odio tempora iure
                                similique
                                veritatis!
                                Iste, at hic. Suscipit quas eius porro, quo neque quae quis cumque ipsum voluptatibus
                                animi odio nulla
                                molestias, accusamus quam, et dolorum nihil iste repellat doloremque earum ipsam! Amet
                                reprehenderit
                                accusantium, ratione tenetur dolore in suscipit modi, labore placeat magnam aspernatur
                                doloremque eaque
                                ab
                                dolorum quia?</p>
                </div>
                <div class="post">
                        <div class="heading">
                                <h1>POST</h1>

                        </div>
                        <div class="img">
                                
                             
                                <a href="images/1.jpeg"><img
                                                src="images/1.jpeg"
                                                alt=""></a>
                                <a href="images/2.jpeg"><img
                                                src="images/2.jpeg" alt=""></a>
                                <a href="images/3.jpeg"><img
                                                src="images/3.jpeg" alt=""></a>
                                <a href="images/28466-min.jpg"><img src="images/28466-min.jpg"
                                                alt=""></a>
                                {{!-- <a href="images/pastel-sea-stones-laptop-qc0dzvunw3mh3c8k.webp"><img
                                                src="images/pastel-sea-stones-laptop-qc0dzvunw3mh3c8k.webp" alt=""></a>
                                <a href="images/purple-flowers-aesthetic-laptop-z6fezox6x2ydjm9x.webp"><img
                                                src="images/purple-flowers-aesthetic-laptop-z6fezox6x2ydjm9x.webp"
                                                alt=""></a>
                                <a href="images/red-ocean-sunset-laptop-sda64neakq59sd35.webp"><img
                                                src="images/red-ocean-sunset-laptop-sda64neakq59sd35.webp" alt=""></a>
                                <a href="images/red-rocky-ocean-laptop-068gzxpwg3jo7b2h.webp"><img
                                                src="images/red-rocky-ocean-laptop-068gzxpwg3jo7b2h.webp" alt=""></a>
                                <a href="images/scenic-volcano-indonesia-laptop-6kwdna4wuyudu20z.webp"><img
                                                src="images/scenic-volcano-indonesia-laptop-6kwdna4wuyudu20z.webp"
                                                alt=""></a>
                                <a href="images/toothless-hiccup-night-laptop-jbie30rv164s36sj.webp"><img
                                                src="images/toothless-hiccup-night-laptop-jbie30rv164s36sj.webp"
                                                alt=""></a>
                                <a href="images/twisted-tree-park-laptop-2bihdsepn22dm4ns.webp"><img
                                                src="images/twisted-tree-park-laptop-2bihdsepn22dm4ns.webp" alt=""></a>
                                <a href="images/xiaomi-laptop-abstract-phoenix-tk5ihbirbslj0g1h.webp"><img
                                                src="images/xiaomi-laptop-abstract-phoenix-tk5ihbirbslj0g1h.webp"
                                                alt=""></a>
                                <a href="images/yellow-daisy-flowers-laptop-9t85gziz7oh2ceow.webp"><img
                                                src="images/yellow-daisy-flowers-laptop-9t85gziz7oh2ceow.webp"
                                                alt=""></a>
                                <a href="images/eiffel-book-laptop-macro-noqmf86i7dmmm0bd.webp"><img
                                                src="images/eiffel-book-laptop-macro-noqmf86i7dmmm0bd.webp" alt=""></a> --}}
                        </div>

                </div>
        </div>

        </div>
      

        <script src="https://kit.fontawesome.com/9d32b8e8b3.js" crossorigin="anonymous"></script>
</body>

</html>