<div class="contioner">
    {{#each data}}
    <div class="profile_section">
        <div class="profile1">
            <a href="profile">
                <div class="profile1_picture"><img src="images/blank profile .jpg" alt=""></div>
            </a>

            <div class="profile_details">
                <h1>{{fullname}}</h1>
                <h3>{{type}}</h3>
                <h3>{{email}}</h3>
                <h2>about:</h2>
                <p>{{about}}</p>
            </div>

        </div>
    </div>
    {{/each}}


</div>
